<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs layui-this"><a href="/index.html">首页<span class="layui-badge-dot"></span></a></li> 
      <!-- 用户登入后显示 -->
    </ul> 
    
    <div class="fly-column-right layui-hide-xs"> 
      <a href="/note/add.html" class="layui-btn">发表新帖</a> 
    </div> 
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
      <a href="/note/add.html" class="layui-btn">发表新帖</a> 
    </div> 
  </div>
</div>